<%= link_to "Add New task", new_task_path, class: "btn btn-primary btn-sm pull-right" %>
<%= link_to "Tasks Shared with Me", shared_tasks_path, class: "btn btn-primary btn-sm pull-right" %>
<h1>My Tasks</h1>

<h2>Not Started</h2>
<ul id="tasks_<%= Task::Status::NOT_STARTED %>">
  <%= render @not_started_tasks %>
</ul>

<h2> In Progress </h2>
<ul id="tasks_<%= Task::Status::IN_PROGRESS %>">
  <%= render @in_progress_tasks %>
</ul>


<h2>Finished</h2>
<ul id="tasks_<%= Task::Status::FINISHED %>">
  <%= render @finished_tasks %>
</ul>
