<!DOCTYPE html>
<html>
<head>
  <title>Trackit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,200,500,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= flash_messages_tags %>
  <%= yield %>

</body>
</html>
